
git/GitDesk/GitDesk/bin/Release/net9.0-windows/win-x64/publish/GitDesk.exe
git/GitDesk/release/GitDesk.exe
.git/objects/d6/1f708d602df93af2fc3bc6b981879fcb0d3168
git/GitDesk/GitDesk/bin/Release/net9.0-windows/win-x64/publish/GitDesk.exe

git/GitDesk/GitDesk/bin/Release/net9.0-windows/win-x64/publish/GitDesk.exe

git/GitDesk/GitDesk/bin/Release/net9.0-windows/win-x64/publish/GitDesk.exe

# Auto-excluded files with secrets
git/gitlog/gitlog.ps1
